:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #272727;
        --foreground: white;
        --success: #1B5E20;
        --failure: #B71C1C;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #CFD8DC;
        --foreground: black;
        --success: #4CAF50;
        --failure: #F44336;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background: var(--background);
    color: var(--foreground);
}
#quiz-section {
    height: calc(100% - 24px);
    padding: 12px;
}
input,
button {
    height: 35px;
    border: 0px;
    border-radius: 7px;
}
input {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 7px;
}
button {
    width: 100%;
}
#flag {
    max-height: calc(100% - 35px - 12px - 35px - 12px - 2px);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#results,
#next-button {
    display: none;
}
#results {
    height: 35px;
    line-height: 35px;
    margin: 12px 0px;
}
#results,
#input {
    padding-top: 0px;
    padding-bottom: 0px;
}
#settings {
    float: right;
    padding: 6px 10px;
    height: 18px;
}

@keyframes error-animation {
    from {background-color: var(--failure);}
    to {background-color: var(--background);}
}
.error-animation {
    animation-name: error-animation;
    animation-duration: 1.5s;
}
@keyframes success-animation {
    from {background-color: var(--success);}
    to {background-color: var(--background);}
}
.success-animation {
    animation-name: success-animation;
    animation-duration: 1.5s;
}